<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>BookNest</title>


    <!-- Additional CSS Files -->
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">

</head>
    
<body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png">
                            <span>BookNest</span>
                        </a>
                        
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            
                            <li class="scroll-to-section"><a href="index.html" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#contact">Contact</a></li>
                        </ul>

                        
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** About Area Starts ***** -->

    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="assets/images/about-left-image.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>Login</h4>
                        <form action="/login/login-user" method="post" class="login-form">
                            <div class="form-group">
                                <label for="email">email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="Enter your username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <div class="form-group text-center">
                                <p>Don't have an account? <a href="/register">Sign up</a></p>
                            </div>
                        </form>
                        <p th:if="${message}" th:text="${message}">hhhhh</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

<!--    &lt;!&ndash; ***** Subscribe Area Starts ***** &ndash;&gt;-->
<!--    <div class="subscribe">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-8">-->
<!--                    <div class="section-heading">-->
<!--                        <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>-->
<!--                        <span>Details to details is what makes Hexashop different from the other themes.</span>-->
<!--                    </div>-->
<!--                    <form id="subscribe" action="login/login-user" method="get">-->
<!--                        <div class="row">-->
<!--                          <div class="col-lg-5">-->
<!--                            <fieldset>-->
<!--                              <input name="name" type="text" id="name" placeholder="Your Name" required="">-->
<!--                            </fieldset>-->
<!--                          </div>-->
<!--                          <div class="col-lg-5">-->
<!--                            <fieldset>-->
<!--                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">-->
<!--                            </fieldset>-->
<!--                          </div>-->
<!--                          <div class="col-lg-2">-->
<!--                            <fieldset>-->
<!--                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>-->
<!--                            </fieldset>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="col-lg-4">-->
<!--                    <div class="row">-->
<!--                        <div class="col-6">-->
<!--                            <ul>-->
<!--                                <li>Store Location:<br><span>Sunny Isles Beach, FL 33160, United States</span></li>-->
<!--                                <li>Phone:<br><span>010-020-0340</span></li>-->
<!--                                <li>Office Location:<br><span>North Miami Beach</span></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <ul>-->
<!--                                <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>-->
<!--                                <li>Email:<br><span>info@company.com</span></li>-->
<!--                                <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; ***** Subscribe Area Ends ***** &ndash;&gt;-->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="first-item">
                        <div class="logo">
                            <img src="assets/images/logo.png" alt="">
                            <span>BookNest</span>
                        </div>
                        
                        <ul>
                            <li><a href="#">Café de Livre, Marrakech, Morocco</a></li>
                            <li><a href="#">info@booknest.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#Contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4>Help & Information</h4>
                    <ul>
                        <li><a href="#">Library FAQ's</a></li>
                        <li><a href="#">Book Borrowing</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 BookNest. All Rights Reserved.
                        
                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>

</html>
